n8n-whatsapp-campaign-workflow.json
{
  "name": "WhatsApp Campaign Sender",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campaign",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "campaign-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming webhook data\nconst webhookData = $input.item.json;\n\n// Extract campaign information\nconst campaignType = webhookData.campaign_type;\nconst segment = webhookData.segment;\nconst templateName = webhookData.template_name;\nconst contacts = webhookData.contacts || [];\nconst timestamp = webhookData.timestamp;\n\n// Optional: Validate webhook secret\n// const expectedSecret = 'your-secret-here';\n// const receivedSecret = $input.item.json.headers?.['x-webhook-secret'];\n// if (receivedSecret && receivedSecret !== expectedSecret) {\n//   throw new Error('Invalid webhook secret');\n// }\n\n// Prepare items for loop (one item per contact)\nconst items = contacts.map(contact => {\n  return {\n    json: {\n      contact_id: contact.id,\n      phone_e164: contact.phone_e164,\n      full_name: contact.full_name || 'Customer',\n      template_name: templateName,\n      segment: segment,\n      campaign_timestamp: timestamp\n    }\n  };\n});\n\nreturn items;"
      },
      "id": "parse-data",
      "name": "Parse Campaign Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone_e164 }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"{{ $json.template_name }}\",\n    \"language\": {\n      \"code\": \"en\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"{{ $json.full_name }}\"\n          }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-auth",
          "name": "WhatsApp Business API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-success",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "log-contact",
              "name": "contact_id",
              "value": "={{ $('Parse Campaign Data').item.json.contact_id }}",
              "type": "string"
            },
            {
              "id": "log-phone",
              "name": "phone",
              "value": "={{ $('Parse Campaign Data').item.json.phone_e164 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-error",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "log-error-details",
              "name": "error_message",
              "value": "={{ $json.error?.message || 'Unknown error' }}",
              "type": "string"
            },
            {
              "id": "log-contact-error",
              "name": "contact_id",
              "value": "={{ $('Parse Campaign Data').item.json.contact_id }}",
              "type": "string"
            },
            {
              "id": "log-phone-error",
              "name": "phone",
              "value": "={{ $('Parse Campaign Data').item.json.phone_e164 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Campaign processed\",\n  \"contacts_processed\": {{ $('Split In Batches').item.json.batchCount || $('Parse Campaign Data').item.json.length }}\n}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Campaign Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Campaign Data": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}


